 /* *{ 
    box-sizing:border-box; 
    padding:0;      
    margin:0; 
    display: inline-block;
}    */

:root{ 
    --black:#000000;
    --antiquewhite:#FAEBD7; 
    --white:#FFFFFF; 
    --red-salsa:#FD3A4A; 
    --bannana-mania:#FBE7B2; 
    --atomic-tangerine:#FF9966; 
    --melon:#FEBAAD; 
    --gradient:linear-gradient( 
        45deg, 
        #845ec2,
        #d65db1, 
        #ff6f91, 
        #ff9671, 
        #ffc75f, 
        #f9f871 

    ); 
    --navy-blue:#1c1b29; 
    --blue:#04b0ee;

}

body{ 
    background-color: var(--black); 
    background-image: var(--gradient); 
    background-size: 400%;  
    animation: bg-animation 30s infinite alternate; 
    display: flex; 
    flex-wrap: wrap;

} 

@keyframes bg-animation{  
    0%{ 
        background-position: left;
    } 

    100%{ 
        background-position: right;
    }

}

.Header h1{ 
    display: inline-block; 
    font-size: 48px;  
    font-family:'Rockwell',serif; 
    color:var(--atomic-tangerine); 
    text-shadow:2px 2px 4px black,
    2px 2px 4px black; 
    border:var(--atomic-tangerine)5px solid; 
    border-radius:0.30em; 
    background-color: var(--atomic-tangerine); 
    box-shadow: inset 2px 2px 4px black, 
    2px 2px 4px black; 

} 
.Header h1 .fo{ 
    color:var(--atomic-tangerine);
    font-family: 'Rockwell',serif;  
    text-shadow:2px 2px 4px black, 
    2px 2px 4px black;
} 

.Header div{ 
    padding-top: 25px; 
    margin-right: 30px; 
    float: right;
    font-family:'Rockwell',serif;
    font-size: 20px; 
    color:var(--antiquewhite); 
    
}  

ul.menu{ 
    list-style-type:none;
    /* padding: left 50px;
    float: right;  */
    font-size: 30px; 
    border:var(--red-salsa)15px solid;
    margin-bottom: 15px; 
    border-width: medium; 
    background:var(--red-salsa); 
    text-decoration:none; 
    cursor: pointer; 
    padding: 0.25em 1em;  
    border-radius: 0.25em; 
    text-shadow: 
    0 0 .165em var(--bannana-mania),
    0 0 4em var(--red-salsa); 
    box-shadow: inset 0 0 0.55em var(--red-salsa),
    0 0 0.55em var(--red-salsa); 
    position: relative;  
    width: 100%;
    display: flex;
    justify-content: space-around; 
    font-family: 'Rockwell',serif; 
    font-weight: bold;
    
    
}  

ul.menu a{ 
      color: var(--melon); 
      margin: 5px;
}

ul.menu::before{  
    pointer-events: none;
    content: ''; 
    position:absolute; 
    background:var(--red-salsa); 
    top:21%; 
    left: 56%; 
    width: 42%; 
    height: 7%;  
    transform:perspective(1em)rotateX(35deg)scale(1,0.25); 
    filter:blur(1em); 
    opacity: 0.7;
    
} 

ul.menu::after{ 
    content: "";  
    position: absolute;
    top:0; 
    bottom:0; 
    left:0; 
    right:0; 
    box-shadow: 0 0 2em .5em var(--red-salsa); 
    background-color: var(--red-salsa); 
    z-index: 1;
    opacity: 0;
    transition: opacity 100ms linear;  

}

ul.menu:hover,ul.menu:focus{  
    color: var(--black); 
    text-shadow:none;
} 

ul.menu:hover::before{ 
    opacity: 1;
}

ul.menu:hover::after{ 
    opacity: 1; 
    z-index: -1;
} 

.Main-Portfolio{ 
    padding:10%;  
    flex:1 1 80%; 
    min-height: 100vh; 
    min-width: 100vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;

} 

.Portfolio{ 
    display:grid; 
    height: 100%; 
    width: 100%; 
    grid-template-rows: repeat(6 ,150px); 
    grid-template-columns:repeat(2 ,1fr); 
    grid-gap:20px;  
    grid-column-gap:50px;
    justify-items: center;
    max-width: 876px;
} 


 .Portfolio-Item{    
    font-weight: bold; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    display: flex;
    

}   

.Portfolio-Item a {
    height: 100%;
}

.Portfolio-Item a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.nav-work{ 
    font-size: 40px;
    font-family: 'Rockwell',serif;
    margin: 100px auto 20px;
    padding: 1%; 
    color: var(--antiquewhite); 
    text-align: center;
     

}


.nav-p{  
    max-width: 876px;
    margin-left: auto;
    margin-right: auto;

} 

.nav-About{ 
    margin: 100px auto 100px;
    text-align: center;
} 

.container{ 
        padding: 100px; 
        margin:  100px auto 20px;
}

.line{ 
        width: 900px; 
        height: 45px; 
        position: relative;
}

.line::after,.line::before{ 
        content: ''; 
        position: absolute; 
        margin: auto; 
        height: 2px;
        background: var(--white); 
        width: 45%; 
        top: 45%;
} 

.line::after{ 
    left: 0;
}

.line::before{ 
    right: 0;
}



.circle{ 
    height: 40px; 
    width:40px; 
    border: 2px solid var(--white); 
    left: 0; 
    right: 0; 
    top:0; 
    bottom: 0; 
    margin: auto; 
    border-radius: 50%;
} 

.container2{ 
    padding: 80px;
    margin: 100px auto 20px;
    display: flex;
    position: absolute;
    top: 2000px;
    left: 165px;
    align-items: center;
}

.line2{ 
    width: 900px; 
    height: 45px; 
    position: relative;
}

.line2::after,.line2::before{ 
    content: ''; 
    position: absolute; 
    margin: auto; 
    height: 2px;
    background: var(--white); 
    width: 45%; 
    top: 45%;
} 

.line2::after{ 
left: 0;
}

.line2::before{ 
right: 0;
}



.diamond{ 
    height: 40px; 
    width:40px; 
    border: 2px solid var(--white); 
    left: 0; 
    right: 0; 
    top:0; 
    bottom: 0; 
    margin: auto; 
    transform:rotate(45deg)
} 

.footer{ 
    position: relative; 
    height: 200px; 
    width: 200px;
}


.footer2{  
    display: block;  
    align-items: center; 
    /* border: 2px solid var(--white); */
    height:500px;
    width:400px;  
    position: absolute; 
    margin: auto;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right:0; 
    box-shadow: 0 25px 35px var(--black);  
    border-radius: 5px; 
    overflow: hidden; 
    /* background-color: var(--navy-blue); */
    
} 

.footer2::before{  
    content: ""; 
    background-image:conic-gradient(var(--antiquewhite) 20deg, transparent 120deg); 
    height: 150%; 
    width: 150%; 
    position: absolute; 
    left: -25%;
    top: -25%;  
    animation: rotate 2s infinite linear;

}  

@keyframes rotate{ 
    100%{ 
        transform: rotate(-360deg);
    }
}

.box{ 
    content: ""; 
    height:94%;  
    width: 94%; 
    position: absolute; 
     background-color:var(--melon);
    border-radius: 5px; 
    top:3%; 
    left:3%; 
    color: var(--gradient); 
    display: grid;  
    

} 

.tact{ 
    font-size: 40px;
    font-family: 'Rockwell',serif; 
    color: var(--antiquewhite);
} 

.Con{ 
    font-size: 40px;
    font-family: 'Rockwell',serif; 
    color: var(--antiquewhite);
} 

.box2{ 
    font-size: 40px;
    font-family: 'Rockwell',serif; 
    color: var(--antiquewhite); 
    font-weight: bold;
}

    
/* p style="
    max-width: 876px;
    margin-left: auto;
    margin-right: auto; */


    /* <ul class="menu" style="
    width: 100%;
    display: flex;
    justify-content: space-around; */
